#content{
  border: 1px solid #c24b05;
  //padding: 5px;
  width: 960px;
  height: 600px;
  position: absolute;
  left: calc(50% - 480px);
  top: calc(50% - 300px);
}

#submitBtn{
  width: 120px;
  height: 40px;
  border: 1px solid #c24b05;
  background-color: #eaeaea;
}

.middle{
  width: 700px;
  margin-left: calc(50% - 350px);
  text-align: center;
}

.playerData{
  margin-top: 30px;
  margin-bottom: 30px;
}

.timer{
  position: absolute;
  left: calc(116px - 1.1em);
  top: calc(30px - 0.6em);
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  font-family: fantasy;
  color: black;
}

.oil{
  position: absolute;
  left: calc(116px - 0.6em);
  top: calc(87px - 0.6em);
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  font-family: fantasy;
  color: black;
}

.score{
  position: absolute;
  left: calc(890px - 0.6em);
  top: calc(29px - 0.6em);
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  font-family: fantasy;
  color: black;
}

.gameOverLabel{
  color: red;
  font-family: fantasy;
  text-align: center;
  font-size: 50px;
}

.gameOverForm{
  display: none;
  position: absolute;
  top: calc(50% - 110px);
  left: calc(50% - 170px);
  width: 350px;
  height: 170px;
  text-align: center;
  font-family: fantasy;
}
.gameOverForm > label{
  color: white;
  margin-right: 15px;
}
.gameOverForm > button{
  margin-left: 15px;
  font-size: 16px;
  font-family: fantasy;
}

.results > table{
  width: 700px;
  height: 400px;
  margin-left: calc(50% - 350px);
  margin-bottom: 15px;
}
.results{
  height: 400px;
  overflow-y: scroll;
  text-align: center;
  margin-bottom: 15px;
}

.buttonCenter{
  margin-left: calc(50% - 60px);
}

hr{
  border-bottom-color: #c24b05;
}

canvas{
  margin: 0;
}
h2{
  text-align: center;
}
body{
  background-color: black;
  color: white;
}
